$blue: radial-gradient(
    50% 70.01% at 65.67% 50%,
    rgba(139, 168, 194, 0.15) 100%,
    rgba(25, 48, 70, 0.1375) 96.01%,
    rgba(98, 180, 255, 0) 100%
  ),
  rgba(21, 97, 173, 0.81);
$yellow: #f9c802;
$black: black;
$darkBlue: #121232;
