@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $black;
  background: $blue;
  min-height: 100vh;
  margin: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.editor {
  margin: 16px;

  &__enter {
    height: 360px;
    width: 480px;
    border-radius: 16px;
    padding: 16px;
    border: 0;
    margin-bottom: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    border: 2px solid $black;
  }

  &__label {
    margin-top: 0;
    margin-bottom: 1px;
  }
  &__button {
    display: flex;
    justify-content: flex-end;
    align-content: space-between;

    &--click {
      height: 36px;
      min-width: 100px;
      margin-left: 16px;
      border-radius: 16px;
      border: none;
      border: 2px solid $black;
      background: $darkBlue;
      color: white;
    }
  }
}



